@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700&display=swap');

* {
    font-family: "M PLUS Rounded 1c", sans-serif;
}
* {
    /* background-color: #f0faff; */
    color: #55556b;
}
body {
    background-color: white;/*#F8FCFF;#FFF8FA;#F5FBFF;*/
}
/*h1 {
    font-size:35px;
    font-weight:bold;
    color: #55556B;
}*/
.mypage-container h1 {
    font-size: 26px;
    font-weight: 700;
    color: #E75480;
    color: #6B6B80;
    letter-spacing: 1px;
}

.mypage-container {
    width: 250px;
    margin: 70px auto 20px;
    text-align: center;
    
}


.form-group {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size:18px;
}
.form-group-p {
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
}

.mypage-container h1 {
    font-size: 30px;
    margin-bottom: 20px;
}


.form-group input {
    width: 100%;
    height: 30px;
    margin-top: 5px;
    box-sizing: border-box;
    
}


.mypage-button-3 {
    width: 100%;
    height: 55px;

    background: #FFFFFF;
    color: #55556B;
    font-size: 16px;
    font-weight: 600;

    /*border: 2px solid #DDEFF8;*/
    border: 2px solid #BDEBFF;
    border-radius: 18px;

    /*box-shadow:
        0 4px 10px rgba(0,0,0,0.05),
        0 4px 12px rgba(180,220,240,0.15);
*/

    box-shadow:
        0 5px 14px rgba(153,218,244,0.35);
    cursor: pointer;
    margin-bottom: 14px;

    transition: all .2s ease;
}
.button-group {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 25px;
}

.button-group button {
    width: 100px;
    padding: 5px;
    border: none;
    border-radius: 25px;
    background-color: #ee80a4;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
}
/* #99daf4;#DFF6FF;#ee80a4;#F8C8DC; #BDEBFF;#A8DFFF; #F9A8B8;#7CC8E8;*/
.mypage-button-3:hover {
    color:  #D81B60;/*#F9A8B8;*/
	transform: translateY(-2px);
    box-shadow: 0 8px 18px rgba(80,140,180,0.35);
    
    border-color: #F8C8DC;

}


#overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
#content{
    width: 300px;
    padding: 35px 40px;
    background: white;
    border-radius: 30px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.12);
    text-align: center;
    color: #55556b;
    font-weight: 600;    
}
#content input {
    width: 85%;
    height: 35px;

    border: 2px solid #aadff5;
    border-radius: 10px;

    padding: 5px 12px;

    font-size: 17px;
    outline: none;
}
.modal-item {
    margin-top: 12px;
}
.mypage select {
  width: 80%;
    padding: 5px;
    margin: 8px 0 18px;
    border: 1px solid #99daf4;
    border-radius: 15px;
    background-color: #f8fdff;
    
}

#content select {
    width: 100px;
    height: 35px;
    border-radius: 10px;
    border: 2px solid #DFF6FF;
    background-color: #F8FCFF;
    padding-left: 5px;
}
.image-area {
    position: relative;
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto; 
}

.user-icon {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;  
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    border: 3px solid #BDEBFF;
}

.camera-button {
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
    font-size: 35px;
    width:40px;
    height:40px;
    border-radius:50%;
}
.BottomNav {
     background-color: #FFE3EF;
}
.save-button {
    
position: absolute;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background: #FFFFFF;
    color:  #ee80a4;
    color:  #6EC6E8;
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(0,0,0,0.12);
    font-size: 28px;
}
.p {
    margin-bottom: 5px;
}