*{
  box-sizing: border-box;
}


.button-Tab{
  display: flex;
  width: 100%;
}

.button-Tab button{
  flex: 1;
  text-align: center;   /* 文字を中央寄せ */
  padding: 1em 0;
  background: #eee;
  border: 1px solid #ccc;
}


.draggable {
  width: 150px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: skyblue;
  cursor: grab;
}

.droppable {
  width: 200px;
  min-height: 300px;
  padding: 16px;
  background-color: azure;
  border-radius: 10px;
  border: 2px solid rgb(142, 142, 142);
}

.droppable.over {
  background-color: rgb(122, 237, 255);
}

.drop-Title{
  margin: 0;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid cadetblue;
}

.list-Set{
  display: flex;
  background-color: antiquewhite;
  gap: 50px;
}

.category-Table{
  margin: auto;
}