*{
  box-sizing: border-box;
}


.button-Tab{
  display: flex;
  width: 100%;
}

.button-Tab button{
  flex: 1;
  text-align: center;   /* 文字を中央寄せ */
  padding: 1em 0;
  border: 1px solid #ccc;
}

.button-Tab button:hover{
  color: aliceblue;
  background-color: rgb(200, 200, 200);
}


/* タグの色 */
.used-Button,.trash-Button,.cell-Button,.give-Button,.other-Button,.all-Button{
  color: rgb(255, 255, 255);
  background-color: rgb(137, 137, 137);
}

.draggable:hover{
  color: white;
  background-color: #b6b6b6;
}


.draggable {
  width: 90%;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid rgb(125, 125, 125);
  background-color: rgb(255, 255, 255);
  cursor: grab;
}

.droppable {
  width: 100%;
  min-height: 300px;
  padding: 16px;
  background-color: azure;
  border-radius: 10px;
  border: 1px solid rgb(198, 198, 198);
}

.droppable.over {
  background-color: rgb(208, 248, 254);
}

.draggableList{
  display: flex;
  background-color: white;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.drop-Title{
  margin: 0;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid cadetblue;
}

.list-Set{
  width: 100%;
  display: flex;
  background-color: rgb(255, 255, 255);
}

.category-Table{
  width: 100%;
}

.used-Box{
  width: 100%;
  margin: 10px 10px 10px 6px;
}

.noAp-Box{
  width: 100%;
  margin: 10px 6px 10px 10px;
}

.notAp-Table{
  max-height: 200px;
  overflow-y: auto;
}

.category-Table{
  max-height: 200px;
  overflow-y: auto;
}

.overlay-item {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  pointer-events: none;
}

.item-view{
  width: 100%;
  padding: 10px;
  top: 0;
  left: 0;
  border: 1px solid rgb(125, 125, 125);
  background-color: rgb(255, 255, 255);
  cursor: grab;
}


.content{
  display: flex;
  background-color: rgb(213, 208, 208);
  border: 1px solid rgb(157, 157, 157);

}

.content input{
  margin-right: auto;
  background-color: black;
  transform: scale(1.5);
}


.checkBox{
  position: absolute;
  right: 0;
  top: 2px;
  transform: scale(2);
  border: 2px solid black;
}


.droppable2 {
  width: 100%;
  min-height: 300px;
  padding: 16px;
  background-color: azure;
  border-radius: 10px;
  border: 1px solid rgb(198, 198, 198);
}

.draggable2 {
  width: 90%;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid rgb(125, 125, 125);
  background-color: rgb(255, 255, 255);
}

.checkBox2{
  right: 0px;
  top: 2px;
  transform: scale(2);
  border: 2px solid black;
}

.checked-Box{
  width: 100%;
  margin: 10px;
}


.sortButton{
  background-color: white;
  color: blue;
  transform: scale(2);
  border-radius: 5px;
  border: none;
}

.allTable td{
  display: table-cell;
  padding-right: 10px;
  padding-left: 10px;
  border-left: 2px solid rgb(146, 146, 146);
}

.allTable .td-one{
  text-align: center;
}

.allTable {
  display: table;
  border-collapse: collapse;
}


