



.draggable {
  width: 150px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: skyblue;
  cursor: grab;
}

.droppable {
  width: 200px;
  min-height: 300px;
  padding: 16px;
  border: 1px solid black;
}

.droppable.over {
  background-color: lightgreen;
}