.nav {
    background-color: white !important;
    border-top: 1px solid #D8EEF8;
    box-shadow: 0 -3px 10px rgba(150,200,230,0.15);
}
.nav .MuiBottomNavigationAction-label {
    font-size: 10px;
    /* color: #55556B; */
}
.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 60px;

  background: white;
  border-top: 1px solid #ddd;

  display: flex;
  justify-content: space-around;
  align-items: center;

  z-index: 1000;
}
.nav .MuiBottomNavigationAction-root.Mui-selected {
    color: #00A0E9 !important;
}

.nav .MuiBottomNavigationAction-root.Mui-selected .MuiSvgIcon-root {
    transform: translateY(-5px);
}

.nav .MuiBottomNavigationAction-root:hover .MuiSvgIcon-root {
    transform: translateY(-5px) scale(1.1);
}
.nav .MuiBottomNavigationAction-root.Mui-selected svg {
    color: #00A0E9 !important;
}
.nav .MuiBottomNavigationAction-root {
    color: #55556B;
}

/* 選択中アイコン */
.nav .MuiBottomNavigationAction-root.Mui-selected .MuiSvgIcon-root {
    color: #00A0E9 !important;
}

/* 選択中文字 */
.nav .MuiBottomNavigationAction-root.Mui-selected .MuiBottomNavigationAction-label {
    color:  #00A0E9 !important;
}