.nav {
    background-color: white !important;
    border-top: 1px solid #D8EEF8;
    box-shadow: 0 -3px 10px rgba(150,200,230,0.15);
}
.nav .MuiBottomNavigationAction-label {
    font-size: 10px;
    color: #55556B;
}
.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 60px;

  background: white;
  border-top: 1px solid #ddd;

  display: flex;
  justify-content: space-around;
  align-items: center;

  z-index: 1000;
}